extends ../layout

block content
    div.block-content
        span.connected
            = 'Il y a actuellement '
            span.connected-number 0
            = ' personnes connectés'
        br
        br
        a.btn.btn-primary.btn-lg(href="/users/subscribe") Ajouter un utilisateur
        br
        br
        table.table.table-hover
            thead
                tr
                    th Nom
                    th Prénom
                    th Email
                    th Ville
                    th Actions
            tbody
                each user, index in users
                    tr
                        td #{user.firstname}
                        td #{user.name}
                        td #{user.email}
                        td #{user.ville}
                        td
                            //a.btn.btn-primary.btn-sm(href="/users/" + user._id) Voir
                            //span &nbsp;
                            a.btn.btn-primary.btn-sm(href='users/edit/' + user._id) Editer
                            span &nbsp;
                            a(href='users/delete/' + user._id) Supprimer
