doctype html
html
  head
    title= title
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar
      ul.nav.navbar-nav
        li.nav-item.active
          a(href="/users") Liste des utilisateurs
        li.nav-item
          a(href="/users/subscribe") Ajouter un utilisateur
        li.nav-item
          a(href="/cars") Véhicules
        li.nav-item
          a(href="/users/logout") Se déconnecter


    block content

    block chat
      div.container
        ul#messages
        form
          div.form-group
            input.col-xs-11.custom-control#inputMessage
          div.form-group
            button.btn.btn-primary#SendMessage Send

    script(src='https://cdn.socket.io/socket.io-1.4.5.js')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/javascripts/app.js')